<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="adbPath" value="C:\Users\NAME\AppData\Local\Android\Sdk\platform-tools" />
    <add key="packageName" value="com.abc.appname" />
    <add key="databaseName" value="dbname.sqlite" />
  </appSettings>
</configuration>